<!DOCTYPE html>
<html>
  <head>
    <link href='assets/style.css' type='text/css' rel='stylesheet' />
    <meta charset="utf-8">
    <title>Express Server</title>
  </head>
  <body>
    <h1>Hello World</h1>
  </body>
</html>
